
<div class="page">
<md-sidenav-container class="example-container  ">
  <md-sidenav #sidenav class="example-sidenav ">
      <div style="height: 80px;">
 <h5 style="text-align:center" class="Grey-text darken-3 bold" >Vision Ejecutiva</h5>
 <md-icon>menu</md-icon>
</div>
       <md-divider></md-divider>

        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header waves-effect waves-orange no-padding orange-text  ">Compras <i class="material-icons">shopping_cart</i></a>
            <div class="collapsible-body no-padding">
              <ul>
                    <md-nav-list class=" grey lighten-3">
                      <md-list-item>
                         <a  class="grey-text  text-darken-2" style="padding-left: 15px;" md-line href="..."><h6>Contratos</h6></a><md-icon class="grey-text  text-lighten-1">folder</md-icon>
                      </md-list-item>
                      <md-list-item>
                         <a class="grey-text  text-darken-2" style="padding-left: 15px;" md-line href="..."><h6>Pedidos</h6></a><md-icon class="grey-text  text-lighten-1">shopping_cart</md-icon>
                      </md-list-item>
                     <md-list-item>
                         <a class="grey-text  text-darken-2" style="padding-left: 15px;" md-line href="..."><h6>Solicitudes</h6></a><md-icon class="grey-text  text-lighten-1">shopping_basket</md-icon>
                      </md-list-item>
                   </md-nav-list>
              </ul>
            </div>
          </li>
          <li>
            <a class="collapsible-header waves-effect waves-orange no-padding orange-text darken-2">Personas <i class="material-icons">supervisor_account</i></a>
            <div class="collapsible-body no-padding">
              <ul>
                   <md-nav-list class=" grey lighten-3 ">
                    <div>
                      <md-list-item>
                         <a class="grey-text  text-darken-2" md-line style="padding-left: 15px;" href="..."> <h6>Fichas</h6></a><md-icon class="grey-text  text-lighten-1">picture_in_picture</md-icon>
                      </md-list-item>
                      </div>
                     <md-list-item>
                         <a class="grey-text  text-darken-3" md-line  style="padding-left: 15px;" href="..."><h6>Rendiciones</h6></a><md-icon class="grey-text  text-lighten-1"> local_atm</md-icon>
                      </md-list-item>
                   
                   <md-list-item>
                         <a class="grey-text  text-darken-3" md-line  style="padding-left: 15px;" href="..."><h6>vacaciones</h6></a><md-icon class="grey-text  text-lighten-1"> airplanemode_active</md-icon>
                      </md-list-item>
                   </md-nav-list>
              </ul>
            </div>
          </li>
           <li>
            <a class="collapsible-header waves-effect waves-orange no-padding orange-text darken-2">Presupuestos <i class="material-icons">equalizer</i></a>
            <div class="collapsible-body no-padding">
              <ul>
                   <md-nav-list class=" grey lighten-3 ">
                    <div>
                      <md-list-item>
                         <a class="grey-text  text-darken-2" md-line style="padding-left: 15px;" href="..."> <h6>Fichas</h6></a><md-icon class="grey-text  text-lighten-1">picture_in_picture</md-icon>
                      </md-list-item>
                      </div>
                     <md-list-item>
                         <a class="grey-text  text-darken-3" md-line  style="padding-left: 15px;" href="..."><h6>Rendiciones</h6></a><md-icon class="grey-text  text-lighten-1"> local_atm</md-icon>
                      </md-list-item>
                  
                   <md-list-item>
                         <a class="grey-text  text-darken-3" md-line  style="padding-left: 15px;" href="..."><h6>vacaciones</h6></a><md-icon class="grey-text  text-lighten-1"> airplanemode_active</md-icon>
                      </md-list-item>
                   </md-nav-list>
              </ul>
            </div>
          </li>
          
        </ul>
  </md-sidenav>

<div class="brown lighten-4" >
<div >
      <nav [style.background]="rcolor.colorbase" class="z-depth-3" >
          <div class="nav-wrapper">
          
          <ul class="left col s12 ">
             <li style="padding-left: 15px;"><button  [style.background]="rcolor.colorbase" class=" z-depth-2"   md-icon-button (click)="sidenav.open()"><md-icon>menu</md-icon></button></li>    
             
              <li style="padding-left: 15px;"><r-buscar></r-buscar><li>
          </ul>
           <ul class="right ">
              <li><a [routerLink]="['/dashboard']" [routerLinkActive]="['activado']"><i class="material-icons">dashboard</i></a></li>
              <li><a [routerLink]="['/workflow']" [routerLinkActive]="['activado']"><i class="material-icons">notifications_none</i></a></li>
              
              <li style="padding-right:15px"><button md-icon-button [style.background]="rcolor.colorbase" [mdMenuTriggerFor]="menu">
                      <md-icon>person_outline</md-icon>
                    </button>
                    <md-menu  #menu="mdMenu"  x-position="after" y-position="above">
                    <button md-menu-item  disabled >
                        
                      <md-icon style="font-size: 30px; padding:-8px">account_circle</md-icon> <span style=" padding-top:24px"> Rodolfo Leiva </span>
                      </button>
                      <button md-menu-item>
                        <md-icon style="font-size: 18px; padding-top:4px">settings</md-icon>
                        <span style="font-size: 13px">Configurar</span>
                      </button>
                       <button md-menu-item >
                        <md-icon style="font-size: 18px; padding-top:4px">camera_roll</md-icon>
                        <span style="font-size: 13px">Historial</span>
                      </button>
                      <button md-menu-item >
                        <md-icon style="font-size: 18px; padding-top:4px">lock</md-icon>
                        <span style="font-size: 13px">Bloquear</span>
                      </button>
                      <button md-menu-item >
                        <md-icon style="font-size: 18px; padding-top:4px">exit_to_app</md-icon>
                        <span style="font-size: 13px">Salir</span>
                      </button>
                      
              </md-menu>
            </li>
            </ul> 
           </div> 
          
      </nav>
    </div>
 </div>

 <div class="page-content">
<router-outlet></router-outlet>

 <footer class="page-footer brown lighten-3">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
</footer>
</div >
</md-sidenav-container>
</div>
