 <h5 style="text-align:center" class="amber-text darken-3 " >Vision Ejecutiva</h5>

       <md-divider></md-divider>

        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header waves-effect waves-orange no-padding brown-text darken-1">Compras <i class="material-icons">shopping_cart</i></a>
            <div class="collapsible-body no-padding">
              <ul>
                   <md-nav-list class=" brown lighten-4">
                      <md-list-item>
                         <a  class="white-text col s10" style = "size:18px" md-line href="..."><h6>Contratos</h6></a><md-icon class="white-text">folder</md-icon>
                      </md-list-item>
                      <md-list-item>
                         <a class="white-text" md-line href="..."><h6>Pedidos</h6></a><md-icon class="white-text">shopping_cart</md-icon>
                      </md-list-item>
               		  <md-list-item>
                         <a class="white-text text-lighten-5" md-line href="..."><h6>Solicitudes</h6></a><md-icon class="white-text ">shopping_basket</md-icon>
                      </md-list-item>
                   </md-nav-list>
              </ul>
            </div>
          </li>
          <li>
            <a class="collapsible-header waves-effect waves-orange no-padding brown-text darken-1">Compras <i class="material-icons">shopping_cart</i></a>
            <div class="collapsible-body no-padding">
              <ul>
                   <md-nav-list class=" brown lighten-3">
                      <md-list-item>
                         <a  class="white-text col s10" style = "size:18px" md-line href="..."><h6>Contratos</h6></a><md-icon class="white-text">folder</md-icon>
                      </md-list-item>
                      <md-list-item>
                         <a class="white-text" md-line href="..."><h6>Pedidos</h6></a><md-icon class="white-text">shopping_cart</md-icon>
                      </md-list-item>
               		  <md-list-item>
                         <a class="white-text text-lighten-5" md-line href="..."><h6>Solicitudes</h6></a><md-icon class="white-text ">shopping_basket</md-icon>
                      </md-list-item>
                   </md-nav-list>
              </ul>
            </div>
          </li>
           
        </ul>