
 <nav class="brown lighten-3 z-depth-0" >
          
     <div class="container ">
                  <ul class="left col s12 "> 
                  <li><i class="material-icons white-text right" style="font-size: 38px">grid_on</i></li>  
                  <li><h4 class="white-text darken-5">Workflow</h4></li>
                 </ul>
                
                <ul class="right ">   
                </ul> 
     </div>
          
</nav> 
<h3>Soy la pagina workflow</h3>

<div class="example-wrapper container-fluid">
        <div class="row">
         
            <p>PanelBar</p>
            <kendo-panelbar>
              <kendo-panelbar-item class="k-icon k-i-cart" title="Invasion Games"><span class="k-icon k-i-cart"></span>
                <kendo-panelbar-item title="Hockey"></kendo-panelbar-item>
                <kendo-panelbar-item title="Soccer"></kendo-panelbar-item>
                <kendo-panelbar-item title="Rugby"></kendo-panelbar-item>
                <kendo-panelbar-item title="Basketball"></kendo-panelbar-item>
                <kendo-panelbar-item title="Water polo"></kendo-panelbar-item>
                <kendo-panelbar-item title="Netball"></kendo-panelbar-item>
              </kendo-panelbar-item>
              <kendo-panelbar-item title="Striking & Fielding Games">
                <kendo-panelbar-item title="Cricket"></kendo-panelbar-item>
                <kendo-panelbar-item title="Softball"></kendo-panelbar-item>
                <kendo-panelbar-item title="Baseball"></kendo-panelbar-item>
              </kendo-panelbar-item>
              <kendo-panelbar-item title="Net & Court Games" [expanded]="true">
                <kendo-panelbar-item title="Badminton"></kendo-panelbar-item>
                <kendo-panelbar-item title="Squash"></kendo-panelbar-item>
                <kendo-panelbar-item title="Tennis" [selected]="true"></kendo-panelbar-item>
                <kendo-panelbar-item title="Table Tennis"></kendo-panelbar-item>
                <kendo-panelbar-item title="Volleyball"></kendo-panelbar-item>
              </kendo-panelbar-item>
              <kendo-panelbar-item title="Target Games">
                <kendo-panelbar-item title="Golf"></kendo-panelbar-item>
                <kendo-panelbar-item title="Lawn bowls"></kendo-panelbar-item>
                <kendo-panelbar-item title="Tenpin bowling"></kendo-panelbar-item>
              </kendo-panelbar-item>
            </kendo-panelbar>
          
          
        </div>
      </div>