
 <nav class="brown lighten-3 z-depth-0" >
          
     <div class="container ">
                  <ul class="left col s12 "> 
                  <li><i class="material-icons white-text right" style="font-size: 28px">grid_on</i></li>  
                  <li><h5 class="white-text darken-5">Tablero </h5></li>
                 </ul>
                
                <ul class="right ">   
                </ul> 
     </div>
          
</nav> 


<md-card class="white" >
<span class="card-title black-text "><md-icon>notifications_none</md-icon> Workflow <a  href="#!" class=" waves-effect waves-orange right white lighten-5 black-text "> <i class="material-icons grey-text right">more_vert</i></a>
          <a  href="#!" class=" waves-effect waves-orange right  white lighten-5 "> <i class="material-icons grey-text right">fullscreen</i></a>
          </span>
          
        <div class="divider"></div>
 <md-grid-list cols="2" >
          <md-grid-tile><md-card><md-icon class="grey-text  text-lighten-1"> local_atm</md-icon></md-card></md-grid-tile>
          <md-grid-tile><md-card><md-icon class="grey-text  text-lighten-1"> local_atm</md-icon></md-card></md-grid-tile>
          <md-grid-tile><md-card><md-icon class="grey-text  text-lighten-1"> local_atm</md-icon></md-card></md-grid-tile>
          <md-grid-tile><md-card><md-icon class="grey-text  text-lighten-1"> local_atm</md-icon></md-card></md-grid-tile>
        </md-grid-list>

</md-card>

  
<md-card class="white" >
<span class="card-title black-text "><md-icon>notifications_none</md-icon> Workflow <a  href="#!" class=" waves-effect waves-orange right white lighten-5 black-text "> <i class="material-icons grey-text right">more_vert</i></a>
          <a  href="#!" class=" waves-effect waves-orange right  white lighten-5 "> <i class="material-icons grey-text right">fullscreen</i></a>
          </span>
          
        <div class="divider"></div>
 <md-grid-list cols="2" >
          <md-grid-tile><md-card><md-icon class="grey-text  text-lighten-1"> local_atm</md-icon></md-card></md-grid-tile>
          <md-grid-tile><md-card><md-icon class="grey-text  text-lighten-1"> local_atm</md-icon></md-card></md-grid-tile>
          <md-grid-tile><md-card><md-icon class="grey-text  text-lighten-1"> local_atm</md-icon></md-card></md-grid-tile>
          <md-grid-tile><md-card><md-icon class="grey-text  text-lighten-1"> local_atm</md-icon></md-card></md-grid-tile>
        </md-grid-list>

</md-card>
    